<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
      }

      main {
        max-width: 300px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.55rem;
      }

      form input {
        padding: 0.5rem;
        display: block;
      }

      form button {
        align-self: flex-start;
      }

      textarea {
        resize: none;
        min-height: 150px;
        form-sizing: content;
      }
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1>Personal blog</h1>
      </header>
      <form action="/edit/<%= post.id %>" method="post">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="hidden" />
        <label for="title">Title </label>
        <input
          value="<%= post.title %>"
          required
          minlength="4"
          maxlength="20"
          type="text"
          name="title"
          id="title"
        />

        <label for="date">Date </label>
        <input required type="date" name="date" id="date" value="2011-09-29" />

        <label for="contet">Content </label>
        <textarea required name="content" id="content">
<%= post.content.join('\n') %>
        </textarea>

        <button>Send</button>
      </form>
    </main>
  </body>
</html>
